extends layout

block content
  h1 Hello there
  hr
  p.intro 
    | This is web-GUI for awesome (to the max) local area 
    | virtual private server manager #{title}. 
    | You can manage and create 
    a(href='http://openvz.org') OpenVZ
    |  containers.
